*{
    padding: 0;
    margin: 0;
}

a{
  text-decoration: none;
}

.navbar
{
  height: 55px;
    width: 100%;
   display: inline-flex;
   justify-content: space-between;
    padding: 5px;
    margin-top: -3px;
    background-color: #333;
    color: white;
    
}


.ul,li,a
{ 
  font-family:'Bungee Inline', cursive;
    list-style-type: none;
    color: white;
    text-align: left;
    padding: 14px 10px; 
    font-size: 20px;
}


.name
{
   
   font-family: Impact,  'Arial Narrow Bold', sans-serif;
    width: 100%;
   color: white;
}


.back {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    animation: changeBackground 10s infinite;
    background-image: url(walp.jpg);
  }
  
  @keyframes changeBackground {
    0% {
      background-image: url(walp.jpg);
    }
    33% {
      background-image: url(image2Main.jpg);
    }
    66% {
      background-image: url(game.jpg);

    }
  
    70% {
      background-image: url(game2.jpg);
      
    }

   
    
  }


  .box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: #23283A;
    height: 433px;
    color: white;
   padding-left: 210px;
   padding-top: 16px;
    
  }

.bgmiimg{

  padding-top: 40px;
    padding-left: 140px;
}
.ava{

  font-family: 'Bungee Inline', cursive;
  padding-left: 450px;
}
.ff{
  display: inline;
  padding-left: 233px;
}
.bgm{
  
  border: #212529;
  border-width: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0.5, 0.3, 0.7, 1);
}

.fff{
  margin-top: 130px;
  margin-left: -308px;
  border-radius: 20px;
  border: #212529;
  border-width: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0.5, 0.3, 0.7, 1);
}
.bgm {
  box-shadow: 0 0 10px #fff;
  transform: scale(1);
}

.bgm:hover {
  box-shadow: 0 0 20px #fff;
  animation: glow 1s ease-in-out infinite;
  transform: scale(1.1);
  animation: pop 1s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff;
  }
  100% {
    box-shadow: 0 0 10px #fff;
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.fff {
  margin-left: -524px;
  box-shadow: 0 0 10px #fff;
  transform: scale(1);
}

.fff:hover {
  animation: pop 1s ease-in-out infinite;
  transform: scale(1.1);
  box-shadow: 0 0 20px #fff;
  animation: glow 1s ease-in-out infinite;
  animation: pop 1s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff;
  }
  100% {
    box-shadow: 0 0 10px #fff;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  background-image: url(lexica2.jpg);
  background-color: transparent;
  opacity: 80%;
}

.card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px black;
  border: 0px solid black;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.stats{
  color: rgb(21, 1, 1);
  background-color: #cacfe4;
 opacity: 50%;
  font-family: 'Bungee Inline', cursive;
  padding-left: 45%;
}