*{
 
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}
.heading{
  background-image: url(tourr.jpeg);
    padding-top: 50px;
    padding-left: 620px;
  background-size: cover;
    color: white;
}
.card{
    margin-left: -262px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  
  .card-img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    font-family: 'Graduate', cursive;
    height: 282px;
    background-color: whitesmoke;
    padding: 20px;
  }
  
  .card-title {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .card-link:hover {
    background-color: #0056b3;
  }


  .wel{
    margin-bottom: 20px;
    color: black;
    background-color: whitesmoke;
  }
  .prize{
    padding-top: 20px;
    padding-left: 0px;
  }
  .kill{
    padding-top: -10;
    padding-left: 110px;
  }

  .details{
      display: inline;
    list-style-type: none;
    color: gray;
    
}

.det{
  display: inline;
list-style-type: none;
color: gray;


}
  
li{
  
  font-size: small;
    display: inline-flex;
    margin-bottom: 4px;

}

.num{
  font-size: medium;
}

.space{
  margin-left: 26px;
}

.space1{
  font-family: 'Graduate', cursive;
  font-size: larger;
  margin-top: 5px;
  color: black;
  margin-left: 64px;
}

.space2{
  font-family: 'Graduate', cursive;
  font-size: larger;
  color: black;
  margin-left: 60px;
}

.space3{
  font-family: 'Graduate', cursive;
  font-size: larger;
  color: black;
  margin-left: 5px;
  margin-bottom: 25px;
}

.spacee{
  font-family: 'Graduate', cursive;
  margin-left: 67px;
}
.spa{
  font-family: 'Graduate', cursive;
  margin-left: 46px;
}

.secnd{
  font-family: 'Graduate', cursive;
  font-size: medium;
}
.spacee2{
  font-family: 'Graduate', cursive;
  color: black;
    margin-left: 30px;
    font-size: large;
  
}

.spacee1{
  font-family: 'Graduate', cursive;
  color: black;
    margin-left: 44px;
    font-size: large;
  
}


.heading1{
  color: white;
  font-size: x-large;
  font-family: 'Bungee Shade', cursive;
  animation: slideIn 20s linear infinite;
}
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75%{
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
}



.con {

  flex: 1;
  margin: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.card2{
margin-left: 50px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.spacee3{
  margin-left: 19px;
  font-size: large;
  color: black;
}

.heading1{
  font-family: 'Bungee Shade', cursive;
}